.recorder-bar {
  height: 50px;
  background-color: #bdc3c7;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.recorder-bar__url-field {
  flex-grow: 1;
}

.recorder-bar__button {
  margin-left: 15px;
}
