.login-form {
  text-align: center;
}

.login-form-button {
  width: 100%;
}

.login-form-width-restrict {
  width: 300px;
  margin: auto;
}

.card.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
